h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
/* :root {
  color-scheme: dark;
} */
.text-logo {
  background: -webkit-linear-gradient(
    to bottom right,
    #49c7ff,
    #bd34fe,
    #bd34fe
  );
  background-image: linear-gradient(to bottom right, #49c7ff, #bd34fe, #bd34fe);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
}
.font-56 {
  font-size: 56px;
}
body {
  margin: 0;
}

/* Customize the scrollbar track */
#sidebar-menu::-webkit-scrollbar {
  width: 0px; /* Set the width of the scrollbar */
}

/* Customize the scrollbar thumb (the draggable part) */
#sidebar-menu::-webkit-scrollbar-thumb {
  background: #888; /* Set the color of the scrollbar thumb */
}

/* Customize the scrollbar track on hover */
#sidebar-menu::-webkit-scrollbar:hover {
  background: #555; /* Set the background color of the scrollbar track on hover */
}

/* Customize the scrollbar thumb on hover */
#sidebar-menu::-webkit-scrollbar-thumb:hover {
  background: #333; /* Set the color of the scrollbar thumb on hover */
}

/* .btn-pm {
  background-color: #646cff;
  border: 1px solid #5358ab;
  border-radius: 100px;
  padding: 12px;
  color: #ebf3ff;
  font-weight: 500;
  text-decoration: none;
  transition: transform 0.1s;
}
.btn-pm:hover {
  transform: scale(95%);
  transition: transform 0.1s;
}

.btn-sc {
  background-color: #313136;
  border: 1px solid #47474e;
  border-radius: 100px;
  padding: 12px;
  color: #ebf3ff;
  font-weight: 500;
  transition: transform 0.1s;
}

.btn-sc:hover {
  transform: scale(95%);
  transition: transform 0.1s;
}

.btn-outline-wn {
  background-color: transparent;
  border: 1px solid #47474e;
  border-radius: 100px;
  padding: 10px;
  color: #8999a0;
  font-weight: 200;
  transition: all 0.3s;
}
.btn-outline-wn:hover {
  border: 1px solid #db2672;
  border-radius: 100px;
  padding: 10px;
  color: #db2672;
  font-weight: 200;
  transition: all 0.3s;
}
.bg-sc {
  background-color: #252529;
  transition: background 0.3s;
}
.bg-dk {
  background-color: #1e1e20;
} */
.animate-bg-to-white:hover {
  background-color: white;
  cursor: pointer;
  transition: all 0.3s;
  color: black;
}

.animate-color-to-white:hover {
  color: white;
  transition: all 0.3s;
}

#navbar-true {
  background: white;
  border-bottom: 2px solid rgb(229 231 235);
  transition: all 0.2s;
}
#navbar-false {
  background: transparent;
  border-bottom: 2px solid transparent;
  transition: all 0.1s;
}
/* .text-pm {
  color: #646cff;
}

.custom-tab .nav-link {
  border: 1px solid #47474e;
  background: #313136 !important;
  color: #ebf3ff !important;
  border-radius: 100px !important;
  padding: 2px 20px;
  min-width: 100px;
  text-align: center;
}
.custom-tab .nav-link:hover {
  border: 1px solid #5358ab;
  background: #646cff !important;
  color: #ebf3ff !important;
}

.custom-tab .nav-link.active {
  border: 1px solid #5358ab;
  background: #646cff !important;
  color: #ebf3ff !important;
  font-weight: 500;
}
a {
  text-decoration: none !important;
  color: inherit !important;
} */
#sidebar-home.active {
  border: 1px solid red;
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: 1000;
  left: 0;
  top: 0;
  animation-name: example;
  animation-duration: 150ms;
  background-color: rgba(0, 0, 0, 0.3);
}
#sidebar-home {
  diplay: none;
}

@keyframes example {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
